@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #030106;
  overflow-x: hidden;
  cursor: none;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
